# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Fichiers générés
analyse_anssi.html

# Données (potentiellement volumineuses)
data/
donnees_consolidees.csv
